.timer {
  align-items: center;
  display: flex;
  width: 15vw;
  height: 40vh;
  flex-direction: column;
  margin-top: 5vh;
}

.list {
  /* margin-top: 0.5vw; */
  margin-bottom: 3vw;
  z-index: 0;
  height: 26vh;
}
.timer p:hover {
  cursor: pointer;
  background-color: #eee;
}
.timer .list p.selected {
  background-color:  rgb(34, 140, 34);
  color: #FFFFFF;
  padding: 4px;
}
button {
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 0; 
  padding: 0; 
}