.timer {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 500px;
  justify-content: space-between;
  line-height: 1.125em;
  height: 250px;
  position: relative;
  min-width: 100px;
}

@media screen and (max-width: 500px) {
  .timer {
    width: 100%;
    /* font-size: 14px;
    padding: 10px; */
  }
}

.list {
  font-family: Arial;
}

.list::-webkit-scrollbar {
  width: 0px;
}

.timer p:hover {
  cursor: pointer;
  /* background-color: #a8f77a;
  border-radius: 0.2em; */
}

.timer .list p.selected {
  background-color: rgb(34, 140, 34);
  color: #FFFFFF;
  padding: 5px;
  justify-content: center;
  border-radius: 0.5em;
  position: relative;
  right: 5%;
  z-index: 1;
  cursor: default;
}

.timer p {
  user-select: none;
}

.list-item {
  /* opacity: 0.6; */
  color: rgb(155, 153, 153);
}

.list-item.selected {
  opacity: 1;

}

.button {
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}