.header {
  display: flex;
  width: 30vw;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3vh;
}
.dateview {
  display: flex;
  flex-direction: column;
}
.weekdays {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3vh;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1vh;
}
/* .body {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
} */
.calendar {
  box-sizing: border-box;
  width: 27.5vw;
  display: flex;
  flex-direction: column;
}
.selected {
  background-color: rgb(34, 140, 34);
  color: white;
  padding: 3px;
  font-size:medium;
  border-radius: 10px;
}
.disabled {
  color: rgb(122, 121, 121);
  padding: 3px;
  font-size:medium;
  border-radius: 10px;
}
.disabled:hover{
  background-color: rgb(171, 245, 171);
  
}
.notSelected{
  color: rgb(30, 30, 30);
  padding: 3px;
  /* border: 2px solid red; */
  font-size:medium;
  border-radius: 10px;
  cursor: pointer;
}
.header-icon {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}
.header-name{
  font-size: 1rem;
}
.header-icon:hover{
  border-radius: 30%;
  background-color: rgb(179, 175, 175);
}

.yearGrid {
  display: grid;
  gap: 40px;
  grid-template-columns: auto auto auto;
  padding: 10px;
 align-content: center;
}
.selectedYear{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 140, 34);
  color: white;
}
.disabledYear{
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabledYear:hover{
  background-color: rgb(171, 245, 171);
}
.rangeGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
  /* gap: 3vw; */
}

/* .calendar-container{
  min-width: 30vw;
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .calendar-navigation button {
  height: 18px;
  width: 18px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}
header .calendar-navigation button:hover {
  background: #f2f2f2;
} 




ul{
  list-style: none;
}
.calendar-weekdays{
  display: flex;
  flex-direction: column;
} */
