.main {
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

input {
  width: 42vw;
  height: 5vh;
  margin-top: 1em;
  border-radius: 10px;
  min-width: 200px;
  max-width: 525px;
  text-align: center;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .display {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 25vw;
  min-height: 22vh;
  transform: translate(0,0);
  position: absolute;
  z-index: 2000;
  background-color: white;
  opacity: 100%;
  border-radius: 10px;
  border: 2px solid black;
} */
.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  margin-top: -100px;
}

.calender {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 5px;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
  position: relative;
}