.main {
  margin: 0 auto;
  width: 50%;
  text-align: center;
   position: relative;
}

.input {
  width: 42vw;
  height: 2em;
  margin-top: 1em;
  border-radius: 10px;
  min-width: 200px;
  max-width: 525px;
  display:inline-block;
  text-align: center;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  padding: 10px;
  /* transform: translate(0%,0%); */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 100;
  margin-top: 10px;
  left: 120px;
}
.display > * {
  flex: 1;
}

.display > :first-child {
  flex: 7;
}

.display > :last-child {
  flex: 3;
}
.calender {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 5px;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
}

.center {
  display: flex;
  justify-content: center;

}